section.banner {
  background-image: url("../images/TSA_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
}

.xy-center {
  text-align: center;
  padding-top: 9vw;
}


section {
  /*background-color: #00EEEE;*/
}

h2 {
  text-align: center;
}

#hours ul{
	list-style-type: none;
	max-width: 50rem;
	padding-left: 0;
}

#hours ul li span.weekday {
	padding-right: 3rem;
}

#hours ul li span.time {
	float:right;
}
