section.banner {
  background-image: url("/imgs/tsa_banner.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  height: 100%;
}
section {
  padding: 5vh 0;
  min-height: 300px;
}

.banner .banner-text {
  display: flex;
  height: 200px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  margin: 0 2rem;
  background: blur(5px);
  backdrop-filter: blur(1rem);
  background-color: #ffffff20;
  border-radius: 1rem;
  box-shadow:  0 4px 6px -1px rgb(0, 0, 0 / 0.1), 0 2px 4px -2px rgb(0, 0, 0 / 0.1);
}

h2 {
  text-align: center;
}

a.social-media-link {
  color: rgb(124,124,125);
  text-decoration: none;
  font-size: 13px;
}
a.social-media-link:visited {
  color: rgb(124,124,125);
  text-decoration: none;
}
a.social-media-link:hover {
  text-decoration: none;
  color: rgb(100,100,100);
}

#map {
  min-height: 250px;
}

#hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hours ul{
	list-style-type: none;
	max-width: 50rem;
	padding-left: 0;
}

#hours ul li span.weekday {
	padding-right: 3rem;
}

#hours ul li span.time {
	float:right;
}

img {
  width: auto;
  height: 100px;
}


.btn-floating {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  outline: 0;
  display: inline-block;
  color: #fff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  overflow: hidden;
  z-index: 1;
  line-height: 63px;
  width: 56px;
  height: 56px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  letter-spacing: .5px;
}

.btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background-color: #26a69a;
}

.btn-floating svg {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 56px;
}

div#navLocation svg.fa-map-marker-alt {
  margin-left: 2px;
  margin-right: 2px;
}


.service-list {
  list-style: none;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.w-fit {
  width: fit-content;
}

.gap-4 {
  gap: 1rem;
}