{{ define "main" }}
<main aria-role="main">

<section class="banner">
  <div class="xy-center banner-text">
    <h1 class="text-light">Top Speed Auto</h1>
    <p class="text-light">Tires - Brakes - Shocks - Inspections</p>
  </div>
</section>

<section id="mapHours">
  <div class="container">
    <div class="row">
      <div id="map" class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2369.8519783859933!2d-113.61222428384524!3d53.560409780024514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a021235bc634f3%3A0xe7aebccef04d385a!2sTop%20Speed%20Auto!5e0!3m2!1sen!2sca!4v1604263935535!5m2!1sen!2sca" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    <div id="hours" class="col-lg-6 mx-auto align-middle pt-3">
      <h2>Business Hours</h2>
      <div class="d-flex">
        <ul class="mx-auto">
          <li>
            <span class="weekday">Monday</span>
            <span class="time">9:00 AM - 5:00 PM</span></li>
          <li>
            <span class="weekday">Tuesday</span>
            <span class="time">9:00 AM - 5:00 PM</span></li>
          <li>
            <span class="weekday">Wednesday</span>
            <span class="time">9:00 AM - 5:00 PM</span></li>
          <li>
            <span class="weekday">Thursday</span>
            <span class="time">9:00 AM - 5:00 PM</span></li>
          <li>
            <span class="weekday">Friday</span>
            <span class="time">9:00 AM - 5:00 PM</span></li>
          <li class="d-flex justify-content-between align-items-center">
            <span class="weekday">Saturday</span>
            <span class="time">Closed</span></li>
          <li>
            <span class="weekday">Sunday</span>
            <span class="time">Closed</span></li>
        </ul>

      </div>
    </div>
    </div>
  </div>
</section>

<section id="services">
  <h2>Services</h2>
  <p class="text-center text-muted">Shop Rate: $119 per Hour</p>
  <div class="container">

    <div class="row my-5">
      <div class="col-md-4 text-center mb-3">
        <img src="icons/nhor/oil_change.svg">
        <h3>Oil Change</h3>
      </div>
      <div class="col-md-7">
        <p>Up to 5L of oil (5W20, 5W30, or 0W20) </p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">Full Synthetic Oil change<span>$94.95</span></li>
        </ul>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 text-center mb-3">
        <img src="icons/nhor/tires.svg">
        <h3>Wheels &amp; Tires</h3>
      </div>
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">Mount and Balance Tires (each) <span>$29.95 - $39.95</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Tire Change with rims (Heavy/Truck Tires - Extra)<span>$45.95</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Tire Repair <span>$39.50 / Tire</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Additional patches on repaired tires<span>$10.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Wheel Alignment<span>$139.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Tire Storage (Heated)<span>$79.95 / Season</span></li>
        </ul>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 text-center mb-3">
        <img src="icons/nhor/brake.svg">
        <h3>Brakes</h3>
      </div>
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">Brake Fluid Flush<span>$119.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Brake Pad/Rotors Replacement<span>Please Contact</span></li>
        </ul>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 text-center mb-3">
        <img src="icons/nhor/engine.svg">
        <h3>Engine &amp; Transmission</h3>
      </div>
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">Check Engine Light <span>$89.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Coolant Flush<span>$119.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Transmission Fluid Change <span>$119.00</span></li>
        </ul>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-4 text-center mb-3">
        <img src="icons/nhor/inspections.svg">
        <h3>Inspections &amp; Other</h3>
      </div>
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">Insurance Inspection <span>$95.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Pre-Purchase Inspection with Engine Computer Scan <span>$129.00</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">A/C System EVAC and Recharge (Plus $37/lb)<span>$129.00</span></li>
        </ul>
      </div>
    </div>
    <p>Pricing displayed on this website is for information purposes only and is not a quote or estimate. Please contact Top Speed Auto for pricing quotes.</p>
</section>


<section id="contactForm">
    <h2>Request a Quote?</h2>
  <div class="mx-auto col-md-6">
    <form class="mx-auto" method="POST" action="https://formspree.io/{{ $.Site.Params.email }}">
      <div class="form-row">
        <div class="col-sm-6 mb-2">
          <input class="form-control" type="text" required="required" name="name" placeholder="Name *">
        </div>

        <div class="col-sm-6 mb-2">
          <input class="form-control" type="email" name="ReplyTo" required="required" placeholder="Your Email *">
        </div>
        <h5 class="col-sm-12 text-center">Vehicle Information</h5>
        <div class="input-group col-sm-12 mb-1">
          <input class="form-control" type="text" name="Make" placeholder="Make">
          <input class="form-control" type="text" name="Model" placeholder="Model">
          <input class="form-control" type="text" name="Year" placeholder="Year">
        </div>

        <p class="col-sm-12 text-center my-0">or</p>
        <div class="col-sm-12">
          <input class="form-control" type="text" name="VIN" placeholder="VIN e.g. 1FAHP26W49G252740">
        </div>

      </div>
      <hr>
      <h5 class="col-sm-12 text-center">What needs fixing?</h5>
      <div class="form-group"> 
        <textarea class="form-control" name="message" id="message" placeholder="Let us know what needs fixing here!"></textarea>
      </div>
      <div class="row mb-3">
        <input class="btn btn-primary mx-auto" type="submit" value="Request a Quote">
      </div>
    </form>
</form>
    </div>  <!-- /.col-6 RIGHT PANEL -->

</section>



</main>
{{ end }}
